body
{ 
background:url(images/top_bg.jpg) repeat-x top #F6F5E9;
margin:auto;
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size:14px;
color:#ccc;
}
h1{
font-size:15px;
color:#6C0008;
padding:5px;
margin:3px;
font-weight:normal;
}
h2{
font-size:13px;
color:#666666;
margin:0px;
padding:3px;
}
h3{
font-size:14px;
color:#666666;
margin:0px;
padding:3px;
}
h4{
font-size:12px;
color: #CE6700;
margin:0px;
padding:3px;
font-weight:normal;
}
.clear {
clear:both;
overflow:hidden;
height:4px;
}
#main_content{
width:850px;
height: auto;
margin:auto;
background-color:#F6F6EE;
border:8px #FFFFFF solid;
}
#top_banner{
width:850px;
height:130px;
background:url(images/illustr.jpg) no-repeat right;
}
img.logo{
padding-left:15px;
}
/*------top menu---------*/
#top_menu{
width:850px;
margin:auto;
padding:15px;
}
ul.menu {
list-style-type:none; display:block; width: auto; height:18px; margin:auto; padding:0;}

ul.menu li {
display:inline;}

a.nav:link, a.nav:visited {
display:block; float:left; padding:4px 11px 0 26px; margin:0;width: auto; height:18px; text-align:center; line-height:18px; font-weight:bold; font-size:12px;
text-decoration:none; color:#fff; background:url(images/bt_bg.jpg) no-repeat left;}

a.nav:hover {
display:block; float:left; padding:4px 11px 0 26px; margin:0;width: auto; height:18px; text-align:center; line-height:18px;
text-decoration:none;  color:#fff; background:url(images/bt_bg_a.jpg) no-repeat left;}
/*----page content----*/
#page_content{
width:800px;
height:auto;
margin:auto;
}
#page_content_left{
width:400px;
height:auto;
float:left;
padding:10px;
border-right:1px #800000 dashed;
}
#page_content_right{
width:400px;
height:auto;
float:left;
padding:10px;
}
.title{
font-size:16px;
color:#808080;
clear:both;
padding-left:10px;
}
.content_text{
font-size:11px;
color:#333333;
height:auto;
text-align:justify;
padding:8px;
}
img.pic{
padding:0px;
margin-right:10px;
margin-bottom:10px;
border:5px #FFFFFF solid;
float:left;
}
img.map_pic{
padding:0px;
margin:10px;
border:5px #FFFFFF solid;
float:right;
}
img.gallery{
padding:0px;
margin:8px;
border:5px #FFFFFF solid;
float:left;
}
.more{
width:auto;
float:right;
height:20px;
}
.link_more a{
width:auto;
float:left;
text-decoration:none;
color:#990000;
font-size:12px;
padding:3px 23px 0 5px;
}
.link_more a:hover{
text-decoration:underline;
}
img.more{
float:left;
}
#page_bottom{
width:830px;
clear:both;
padding:10px;
height:auto;
}
img.inspiration{
padding:2px;
margin:3px;
border:2px #FFFFFF solid;
}
/*---------services---------*/
.details{
width: auto;
height:auto;
float:left;
padding-left:20px;
}
ul.services {
list-style-type:none;display:block; width:auto; height:auto; float:left; 
margin:0px; padding:10px 0 10px 2px;}

ul.services li {
display:inline;}

a.nav_services:link, a.nav_services:visited {
display:block; padding:1px 0 0 14px; margin:2px;width: auto; height: auto; text-align:left; line-height:17px;
text-decoration:none; background:url(images/bullet.png) no-repeat left; color:#000;}
a.nav_services_a {
display:block; padding:1px 0 0 14px; margin:2px;width:auto; height:auto; text-align:left; line-height:17px; font-weight:bold;
text-decoration:none; background:url(images/bullet_a.png) no-repeat left; color: #990000;}

a.nav_services:hover {
display:block; padding:1px 0 0 14px; margin:2px;width:auto; height:auto; text-align:left; line-height:17px;
text-decoration:none; background:url(images/bullet_a.png) no-repeat left; color:#000000;}



/*---------menu_navigation--------*/
.menu_navigation{
width:750px;
height:30px;
margin:auto;
clear:both;
}
#left{
width:auto;
float:left;
}
.left{
float:left;
}
.right{
float:left;padding:3px;
}
.right a{
text-decoration:none;
color:#990000;
}
#right{
width:auto;
float:right;
padding-right:25px;
}
/*------contact form------*/
#login{
float:left;
width:auto;
padding:10px 10px 0 30px;
color:#666666;
}
.input{
width:140px;
height:12px;
font-size:10px;
float:left;
}
.textarea{
width:140px;
height:50px;
font-size:10px;
float:left;
}
.submit{
float:left;
margin-left:30px;
margin-top:5px;
}
/*-------footer-----*/
#footer{
width: auto;
height:100px;
clear:both;
margin-top:40px;
background-color: #333333;
}
#footer_content{
width:850px;
margin:auto;
}
#copyrights{
width:350px;
color: #666666; 
font-size:10px;
float:left;
padding:10px;
}
#madeby{
width:140px;
height:40px;
float:right;
text-align:center;
padding-top:0px;
}
#madeby a{
text-decoration:none;
color:#666666;
}
/*---------footer menu---------*/
ul.footer_menu {
list-style-type:none; float:left; display:block; width:auto; height: auto;  margin:0px; padding:3px 0 0 10px;}

ul.footer_menu li {
display:inline;}

a.nav2:link, a.nav2:visited {
display:block; float:left; padding:4px 0 0 5px; margin:2px;width: auto; height:20px; text-align:center; line-height:16px;
text-decoration:none; color: #999999;}

a.nav2:hover {
display:block; float:left; padding:4px 0 0 5px; margin:2px;width:auto; height:20px; text-align:center; line-height:16px;
text-decoration:none;color:#000000;}